/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/* All Content Of Post Page */
#material {
    padding: 50px 30px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Post Title */
#posttitle {
    font-size:xx-large;
    font-weight: 600;
    font-family: 'Abel', sans-serif;

}

/* Post Title (EditAble) */
input#posttitle{
    width: max-content;
    padding: 0px 5px;
    background-color: white;
    border: solid 1px #FFC0CB;
    height: fit-content;
}

/* Blog Content (EditAble) */
textarea#postcontent{
    width: max-content;
    padding: 0px 5px;
    background-color: white;
    border: solid 1px black;
    
}

/* Author Name */
#postauthor {
    font-family: 'Niconne', cursive;
    font-size: 35px;
}

/* Edit Button */
#edit {
    padding: 10px 20px 10px 20px;
    font-size: larger;
}

/* All Buttons On Page (Edit like Comment) Pink Colored */
.pinkButton {
    border: 0;
    color: white;
    background-color: #fd4671;
    box-shadow: 0px 5px 12px -4px #fd4671;
}

/* Blog Content */
#postcontent {
    padding-top: 20px;
    font-size: large;
}

/* Like Button */
#likeBtn {
    margin: 20px 0 10px 0;
    padding: 10px;
    width: 9%;
    border-radius: 5px;
}

/* Line Below Like Button  */
#firstOne {
    font-family: 'Inconsolata', monospace;
}

/* Comment Area */
textarea#commentText {
    width: 60%;
    background-color: white;
    border: solid 1px black;
}

/* Comment Button */
#commentBtn {
    margin: 10px 0;
    padding: 10px;
    width: 7%;
}

/* Comments */
#allComments {
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

/* Comments Container */
#comments {
    background-color: #E2E4E6;
    padding: 20px;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Comments in List */
#comment {
    padding: 20px 20px;
    margin: 5px;
    background-color: white;
}